version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: aptitude-backend
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
    container_name: aptitude-frontend
    ports:
      - "4173:4173"
    depends_on:
      - backend
